# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp

# dependencies
node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# environments
.env

# environments
.pnpm-store

# local vector store
.storage

# history files
history.json
